In [ ]:
#!pip install simple_salesforce

In [1]:
import json
from sqlalchemy import create_engine
from datetime import date
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
# Make sure to use your own `config.py` file. Consider ensuring that these variable names are in sync
from config import sf_username, sf_password, sf_security_token
from config import remote_db_endpoint, remote_db_port
from config import remote_db_name, remote_db_user, remote_db_pwd

In [4]:
from simple_salesforce import Salesforce
sf = Salesforce(username=sf_username, password=sf_password, security_token=sf_security_token)

In [5]:
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
conn = engine.connect()

## Prepare ETL for the Student data

In [6]:
student_data_df = pd.read_sql("SELECT * FROM student", conn)
student_data_df

    ID_Student StudentID     LastName    FirstName MiddleName BirthDate Gender
0           33  25004961        Moore      Heather      Alice      None      F
1           34  25003514       Multak        Ilana    Cecille      None      F
2           35  25005833      Murillo      Jessica    Dorothy      None      F
3           36  25002589   Romanowski       Kandra  Genevieve      None      F
4           37  25007185       Hoffer    Katherine   Lynnette      None      F
5           38  25006014   Poocharoen       Pariya   Mariette      None      F
6           39  25007528     Mantrala   Sriharitha      Patty      None      F
7           40  25003778        Kelly        Carly    Raelene      None      F
8           41  25003605        Sraha   Clementine    Kendall      None      F
9           42  25002056   Abdulrahim      Jawaher     Angela      None      F
10          43  25004152      Schulte        Sarah     Serita      None      F
11          44  25004097  Damdinsuren       Undraa     Claire      None      F
12          45  25002311        Smith        James    Carlton      None      M
13          46  25005602     Martinez       Joisel      Cyrus      None      M
14          47  25006805     Odhiambo         Pius      Danny      None      M
15          48  25006947         Karr         Todd     Darren      None      M
16          49  25002714        Stark          Tom   Deangelo      None      M
17          50  25005284      Mahmood         Adit       Dion      None      M
18          51  25006348        Mikus        Chris      Floyd      None      M
19          52  25002555      Hanafin  Christopher     Horace      None      M
20          53  25005250     Fingerut         Cole       Lino      None      M
21          54  25002325         Hoff        David     Lucien      None      M
22          55  25003773       Molina         Dino    Lynwood      None      M
23          56  25003936         Vega         John     Noelle      None      M
24          57  25005443       Clarke      Michael     Parker      None      M
25          58  25006762        Huynh      Patrick    Richard      None      M
26          59  25006027        Oppan       Robert      Riley      None      M
27          60  25002876       Doucet       Trevor       Seth      None      M
28          61  25007333         Omar        Yasir    Solomon      None      M
29          62  25007334   Williamson        Kevin    Stewart      None      M

In [6]:
student_data_df.rename(columns={
    'StudentID':'StudentID__c',
    'LastName':'LastName__c',
    'FirstName':'FirstName__c',
    'MiddleName':'MiddleName__c',
    'BirthDate':'BirthDate__c',
    'Gender':'Gender__c'
}, inplace=True)
student_data_df.head()

,ID_Student,StudentID__c,LastName__c,FirstName__c,MiddleName__c,BirthDate__c,Gender__c
0,33,25004961,Moore,Heather,Alice,None,F
1,34,25003514,Multak,Ilana,Cecille,None,F
2,35,25005833,Murillo,Jessica,Dorothy,None,F
3,36,25002589,Romanowski,Kandra,Genevieve,None,F
4,37,25007185,Hoffer,Katherine,Lynnette,None,F

In [7]:
student_data_df = student_data_df[['StudentID__c', 'LastName__c', 'FirstName__c', 'MiddleName__c','BirthDate__c','Gender__c']]
student_data_df.dtypes

StudentID__c     object
LastName__c      object
FirstName__c     object
MiddleName__c    object
BirthDate__c     object
Gender__c        object
dtype: object

In [9]:
student_data_records = student_data_df.to_dict('records')
student_data_records

[{'StudentID__c': '25004961',
  'LastName__c': 'Moore',
  'FirstName__c': 'Heather',
  'MiddleName__c': 'Alice',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'StudentID__c': '25003514',
  'LastName__c': 'Multak',
  'FirstName__c': 'Ilana',
  'MiddleName__c': 'Cecille',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'StudentID__c': '25005833',
  'LastName__c': 'Murillo',
  'FirstName__c': 'Jessica',
  'MiddleName__c': 'Dorothy',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'StudentID__c': '25002589',
  'LastName__c': 'Romanowski',
  'FirstName__c': 'Kandra',
  'MiddleName__c': 'Genevieve',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'StudentID__c': '25007185',
  'LastName__c': 'Hoffer',
  'FirstName__c': 'Katherine',
  'MiddleName__c': 'Lynnette',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'StudentID__c': '25006014',
  'LastName__c': 'Poocharoen',
  'FirstName__c': 'Pariya',
  'MiddleName__c': 'Mariette',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'StudentID__c': '25007528',
  'LastName__c': 'Mantrala',
  'FirstName__c': 'Sriharitha',
  'MiddleName__c': 'Patty',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'StudentID__c': '25003778',
  'LastName__c': 'Kelly',
  'FirstName__c': 'Carly',
  'MiddleName__c': 'Raelene',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'StudentID__c': '25003605',
  'LastName__c': 'Sraha',
  'FirstName__c': 'Clementine',
  'MiddleName__c': 'Kendall',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'StudentID__c': '25002056',
  'LastName__c': 'Abdulrahim',
  'FirstName__c': 'Jawaher',
  'MiddleName__c': 'Angela',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'StudentID__c': '25004152',
  'LastName__c': 'Schulte',
  'FirstName__c': 'Sarah',
  'MiddleName__c': 'Serita',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'StudentID__c': '25004097',
  'LastName__c': 'Damdinsuren',
  'FirstName__c': 'Undraa',
  'MiddleName__c': 'Claire',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'StudentID__c': '25002311',
  'LastName__c': 'Smith',
  'FirstName__c': 'James',
  'MiddleName__c': 'Carlton',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25005602',
  'LastName__c': 'Martinez',
  'FirstName__c': 'Joisel',
  'MiddleName__c': 'Cyrus',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25006805',
  'LastName__c': 'Odhiambo',
  'FirstName__c': 'Pius',
  'MiddleName__c': 'Danny',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25006947',
  'LastName__c': 'Karr',
  'FirstName__c': 'Todd',
  'MiddleName__c': 'Darren',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25002714',
  'LastName__c': 'Stark',
  'FirstName__c': 'Tom',
  'MiddleName__c': 'Deangelo',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25005284',
  'LastName__c': 'Mahmood',
  'FirstName__c': 'Adit',
  'MiddleName__c': 'Dion',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25006348',
  'LastName__c': 'Mikus',
  'FirstName__c': 'Chris',
  'MiddleName__c': 'Floyd',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25002555',
  'LastName__c': 'Hanafin',
  'FirstName__c': 'Christopher',
  'MiddleName__c': 'Horace',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25005250',
  'LastName__c': 'Fingerut',
  'FirstName__c': 'Cole',
  'MiddleName__c': 'Lino',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25002325',
  'LastName__c': 'Hoff',
  'FirstName__c': 'David',
  'MiddleName__c': 'Lucien',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25003773',
  'LastName__c': 'Molina',
  'FirstName__c': 'Dino',
  'MiddleName__c': 'Lynwood',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25003936',
  'LastName__c': 'Vega',
  'FirstName__c': 'John',
  'MiddleName__c': 'Noelle',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25005443',
  'LastName__c': 'Clarke',
  'FirstName__c': 'Michael',
  'MiddleName__c': 'Parker',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25006762',
  'LastName__c': 'Huynh',
  'FirstName__c': 'Patrick',
  'MiddleName__c': 'Richard',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25006027',
  'LastName__c': 'Oppan',
  'FirstName__c': 'Robert',
  'MiddleName__c': 'Riley',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25002876',
  'LastName__c': 'Doucet',
  'FirstName__c': 'Trevor',
  'MiddleName__c': 'Seth',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25007333',
  'LastName__c': 'Omar',
  'FirstName__c': 'Yasir',
  'MiddleName__c': 'Solomon',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'StudentID__c': '25007334',
  'LastName__c': 'Williamson',
  'FirstName__c': 'Kevin',
  'MiddleName__c': 'Stewart',
  'BirthDate__c': None,
  'Gender__c': 'M'}]

In [10]:
for rec in student_data_records:

    record = {
        'StudentID__c': rec['StudentID__c'],
        'LastName__c': rec['LastName__c'],
        'FirstName__c': rec['FirstName__c'],
        'MiddleName__c': rec['MiddleName__c'],
        'Gender__c': rec['Gender__c'],
    }
    
    try:
        sf.Student__c.create(record)
    except Exception as e:
        print(e)

## Create student Lookup Table

In [7]:
student_lookup_list = []

# The `Name` column in the primary key in Salesforce objects
data = sf.query_all_iter("SELECT StudentID__c, Name FROM Student__c")
for row in data:
    rec = {
        'ID_Student': row['Name'],
        'StudentID__c': row['StudentID__c']
    }
    student_lookup_list.append(rec)

In [8]:
student_lookup_df = pd.DataFrame(student_lookup_list)
student_lookup_df

         ID_Student StudentID__c
0   a0I3h000001DfRQ     25002056
1   a0I3h000001DfRp     25006805
2   a0I3h000001DfSs     25007333
3   a0I3h000001DfSn     25006027
4   a0I3h000001DfRk     25005602
5   a0I3h000001DfRL     25003605
6   a0I3h000001DfRM     25002876
7   a0I3h000001DfS4     25005284
8   a0I3h000001DfQw     25002589
9   a0I3h000001DfR1     25007185
10  a0I3h000001DfSY     25003936
11  a0I3h000001DfSO     25002325
12  a0I3h000001DfRa     25004097
13  a0I3h000001DfSd     25005443
14  a0I3h000001DfQh     25004961
15  a0I3h000001DfQm     25003514
16  a0I3h000001DfST     25003773
17  a0I3h000001DfQr     25005833
18  a0I3h000001DfRB     25007528
19  a0I3h000001DfRG     25003778
20  a0I3h000001DfSi     25006762
21  a0I3h000001DfRV     25004152
22  a0I3h000001DfRW     25007334
23  a0I3h000001DfS9     25006348
24  a0I3h000001DfRu     25006947
25  a0I3h000001DfRz     25002714
26  a0I3h000001DfSJ     25005250
27  a0I3h000001DfR6     25006014
28  a0I3h000001DfRf     25002311
29  a0I3h000001DfSE     25002555

## Create student Lookup Table

In [13]:
class_lookup_list = []

# The `Name` column in the primary key in Salesforce objects
data = sf.query_all_iter("SELECT Section__c, Name FROM class__c")
for row in data:
    rec = {
        'class ID': row['Name'],
        'Section__c': row['Section__c']
    }
    class_lookup_list.append(rec)

In [14]:
class_lookup_df = pd.DataFrame(class_lookup_list)
class_lookup_df

          class ID            Section__c
0  a083h0000010ByB       GWDC201805DATA3
1  a083h0000010ByL      GWARL201905UIUX3
2  a083h0000010By6  GWU-ARL-DATA-PT-09-0
3  a083h0000010ByG       GWARL201905WEB3

## Join SQL

In [15]:
query = '''
    SELECT
        cp.*
        ,c.Section
        ,s.StudentID
    FROM
        classparticipant cp
        INNER JOIN class c
        ON c.ID_class  = cp.ID_class
        INNER Join student s 
        on s.id_student = cp.id_student
'''
classparticipant_data_df = pd.read_sql(query, conn)
classparticipant_data_df

,ID_ClassParticipant,ID_Student,ID_Class,StartDate,EndDate,Section,StudentID
0,1,33,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004961
1,2,34,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003514
2,3,35,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005833
3,4,62,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007334
4,5,36,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002589
5,6,37,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007185
6,7,38,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006014
7,8,39,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007528
8,9,40,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003778
9,10,41,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003605
10,11,42,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002056
11,12,43,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004152
12,13,46,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005602
13,14,47,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006805
14,15,48,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006947
15,16,49,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002714
16,17,50,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005284
17,18,51,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006348
18,20,53,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005250
19,21,54,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002325
20,22,55,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003773
21,23,56,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003936
22,24,57,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005443
23,25,58,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006762
24,26,59,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006027
25,27,60,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002876
26,28,61,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007333
27,29,44,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004097

In [16]:
classparticipant_data_df.rename(columns={
    'StartDate':'StartDate__c',
    'EndDate':'Enddate__c',
    'Section': 'Section__c',
    'StudentID':'StudentID__c'
}, inplace=True)

classparticipant_data_df

,ID_ClassParticipant,ID_Student,ID_Class,StartDate__c,Enddate__c,Section__c,StudentID__c
0,1,33,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004961
1,2,34,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003514
2,3,35,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005833
3,4,62,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007334
4,5,36,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002589
5,6,37,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007185
6,7,38,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006014
7,8,39,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007528
8,9,40,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003778
9,10,41,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003605
10,11,42,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002056
11,12,43,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004152
12,13,46,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005602
13,14,47,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006805
14,15,48,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006947
15,16,49,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002714
16,17,50,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005284
17,18,51,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006348
18,20,53,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005250
19,21,54,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002325
20,22,55,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003773
21,23,56,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003936
22,24,57,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005443
23,25,58,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006762
24,26,59,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006027
25,27,60,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002876
26,28,61,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007333
27,29,44,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004097

## Join the Class DataFrame with the Course lookup table
This join is necessary to successfully lookup the foreign key for the Course table

In [17]:
class_lookup_df

          class ID            Section__c
0  a083h0000010ByB       GWDC201805DATA3
1  a083h0000010ByL      GWARL201905UIUX3
2  a083h0000010By6  GWU-ARL-DATA-PT-09-0
3  a083h0000010ByG       GWARL201905WEB3

In [18]:
student_lookup_df

         ID_Student StudentID__c
0   a0I3h000001DfRQ     25002056
1   a0I3h000001DfRp     25006805
2   a0I3h000001DfSs     25007333
3   a0I3h000001DfSn     25006027
4   a0I3h000001DfRk     25005602
5   a0I3h000001DfRL     25003605
6   a0I3h000001DfRM     25002876
7   a0I3h000001DfS4     25005284
8   a0I3h000001DfQw     25002589
9   a0I3h000001DfR1     25007185
10  a0I3h000001DfSY     25003936
11  a0I3h000001DfSO     25002325
12  a0I3h000001DfRa     25004097
13  a0I3h000001DfSd     25005443
14  a0I3h000001DfQh     25004961
15  a0I3h000001DfQm     25003514
16  a0I3h000001DfST     25003773
17  a0I3h000001DfQr     25005833
18  a0I3h000001DfRB     25007528
19  a0I3h000001DfRG     25003778
20  a0I3h000001DfSi     25006762
21  a0I3h000001DfRV     25004152
22  a0I3h000001DfRW     25007334
23  a0I3h000001DfS9     25006348
24  a0I3h000001DfRu     25006947
25  a0I3h000001DfRz     25002714
26  a0I3h000001DfSJ     25005250
27  a0I3h000001DfR6     25006014
28  a0I3h000001DfRf     25002311
29  a0I3h000001DfSE     25002555

In [ ]:
classparticipant_data_df

In [19]:
class_p_df = pd.merge(classparticipant_data_df, class_lookup_df, how='left')
#class_data_df.drop(columns = ['ID_Class','ID_Course','Course__c','Section__c','StartDate__c','Enddate__c','coursecode__c'], inplace=True)

class_p_df

,ID_ClassParticipant,ID_Student,ID_Class,StartDate__c,Enddate__c,Section__c,StudentID__c,class ID
0,1,33,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004961,a083h0000010By6
1,2,34,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003514,a083h0000010By6
2,3,35,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005833,a083h0000010By6
3,4,62,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007334,a083h0000010By6
4,5,36,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002589,a083h0000010By6
5,6,37,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007185,a083h0000010By6
6,7,38,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006014,a083h0000010By6
7,8,39,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007528,a083h0000010By6
8,9,40,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003778,a083h0000010By6
9,10,41,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003605,a083h0000010By6
10,11,42,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002056,a083h0000010By6
11,12,43,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004152,a083h0000010By6
12,13,46,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005602,a083h0000010By6
13,14,47,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006805,a083h0000010By6
14,15,48,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006947,a083h0000010By6
15,16,49,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002714,a083h0000010By6
16,17,50,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005284,a083h0000010By6
17,18,51,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006348,a083h0000010By6
18,20,53,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005250,a083h0000010By6
19,21,54,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002325,a083h0000010By6
20,22,55,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003773,a083h0000010By6
21,23,56,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003936,a083h0000010By6
22,24,57,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005443,a083h0000010By6
23,25,58,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006762,a083h0000010By6
24,26,59,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006027,a083h0000010By6
25,27,60,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002876,a083h0000010By6
26,28,61,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007333,a083h0000010By6
27,29,44,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004097,a083h0000010By6

In [21]:
student_lookup_df.rename(columns={
    'ID_Student':'ID_Student2'
}, inplace=True)
student_lookup_df

        ID_Student2 StudentID__c
0   a0I3h000001DfRQ     25002056
1   a0I3h000001DfRp     25006805
2   a0I3h000001DfSs     25007333
3   a0I3h000001DfSn     25006027
4   a0I3h000001DfRk     25005602
5   a0I3h000001DfRL     25003605
6   a0I3h000001DfRM     25002876
7   a0I3h000001DfS4     25005284
8   a0I3h000001DfQw     25002589
9   a0I3h000001DfR1     25007185
10  a0I3h000001DfSY     25003936
11  a0I3h000001DfSO     25002325
12  a0I3h000001DfRa     25004097
13  a0I3h000001DfSd     25005443
14  a0I3h000001DfQh     25004961
15  a0I3h000001DfQm     25003514
16  a0I3h000001DfST     25003773
17  a0I3h000001DfQr     25005833
18  a0I3h000001DfRB     25007528
19  a0I3h000001DfRG     25003778
20  a0I3h000001DfSi     25006762
21  a0I3h000001DfRV     25004152
22  a0I3h000001DfRW     25007334
23  a0I3h000001DfS9     25006348
24  a0I3h000001DfRu     25006947
25  a0I3h000001DfRz     25002714
26  a0I3h000001DfSJ     25005250
27  a0I3h000001DfR6     25006014
28  a0I3h000001DfRf     25002311
29  a0I3h000001DfSE     25002555

In [22]:
class_p_final_df = pd.merge(class_p_df, student_lookup_df, how='left')
class_p_final_df

,ID_ClassParticipant,ID_Student,ID_Class,StartDate__c,Enddate__c,Section__c,StudentID__c,class ID,ID_Student2
0,1,33,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004961,a083h0000010By6,a0I3h000001DfQh
1,2,34,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003514,a083h0000010By6,a0I3h000001DfQm
2,3,35,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005833,a083h0000010By6,a0I3h000001DfQr
3,4,62,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007334,a083h0000010By6,a0I3h000001DfRW
4,5,36,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002589,a083h0000010By6,a0I3h000001DfQw
5,6,37,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007185,a083h0000010By6,a0I3h000001DfR1
6,7,38,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006014,a083h0000010By6,a0I3h000001DfR6
7,8,39,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007528,a083h0000010By6,a0I3h000001DfRB
8,9,40,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003778,a083h0000010By6,a0I3h000001DfRG
9,10,41,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003605,a083h0000010By6,a0I3h000001DfRL
10,11,42,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002056,a083h0000010By6,a0I3h000001DfRQ
11,12,43,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004152,a083h0000010By6,a0I3h000001DfRV
12,13,46,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005602,a083h0000010By6,a0I3h000001DfRk
13,14,47,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006805,a083h0000010By6,a0I3h000001DfRp
14,15,48,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006947,a083h0000010By6,a0I3h000001DfRu
15,16,49,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002714,a083h0000010By6,a0I3h000001DfRz
16,17,50,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005284,a083h0000010By6,a0I3h000001DfS4
17,18,51,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006348,a083h0000010By6,a0I3h000001DfS9
18,20,53,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005250,a083h0000010By6,a0I3h000001DfSJ
19,21,54,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002325,a083h0000010By6,a0I3h000001DfSO
20,22,55,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003773,a083h0000010By6,a0I3h000001DfST
21,23,56,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003936,a083h0000010By6,a0I3h000001DfSY
22,24,57,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005443,a083h0000010By6,a0I3h000001DfSd
23,25,58,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006762,a083h0000010By6,a0I3h000001DfSi
24,26,59,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006027,a083h0000010By6,a0I3h000001DfSn
25,27,60,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002876,a083h0000010By6,a0I3h000001DfRM
26,28,61,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007333,a083h0000010By6,a0I3h000001DfSs
27,29,44,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004097,a083h0000010By6,a0I3h000001DfRa

In [24]:
class_p_final_df.drop(columns = ['ID_ClassParticipant','ID_Student','ID_Class','Section__c','StudentID__c'], inplace=True)

class_p_final_df

   StartDate__c Enddate__c         class ID      ID_Student2
0    2020-03-16       None  a083h0000010By6  a0I3h000001DfQh
1    2020-03-16       None  a083h0000010By6  a0I3h000001DfQm
2    2020-03-16       None  a083h0000010By6  a0I3h000001DfQr
3    2020-03-16       None  a083h0000010By6  a0I3h000001DfRW
4    2020-03-16       None  a083h0000010By6  a0I3h000001DfQw
5    2020-03-16       None  a083h0000010By6  a0I3h000001DfR1
6    2020-03-16       None  a083h0000010By6  a0I3h000001DfR6
7    2020-03-16       None  a083h0000010By6  a0I3h000001DfRB
8    2020-03-16       None  a083h0000010By6  a0I3h000001DfRG
9    2020-03-16       None  a083h0000010By6  a0I3h000001DfRL
10   2020-03-16       None  a083h0000010By6  a0I3h000001DfRQ
11   2020-03-16       None  a083h0000010By6  a0I3h000001DfRV
12   2020-03-16       None  a083h0000010By6  a0I3h000001DfRk
13   2020-03-16       None  a083h0000010By6  a0I3h000001DfRp
14   2020-03-16       None  a083h0000010By6  a0I3h000001DfRu
15   2020-03-16       None  a083h0000010By6  a0I3h000001DfRz
16   2020-03-16       None  a083h0000010By6  a0I3h000001DfS4
17   2020-03-16       None  a083h0000010By6  a0I3h000001DfS9
18   2020-03-16       None  a083h0000010By6  a0I3h000001DfSJ
19   2020-03-16       None  a083h0000010By6  a0I3h000001DfSO
20   2020-03-16       None  a083h0000010By6  a0I3h000001DfST
21   2020-03-16       None  a083h0000010By6  a0I3h000001DfSY
22   2020-03-16       None  a083h0000010By6  a0I3h000001DfSd
23   2020-03-16       None  a083h0000010By6  a0I3h000001DfSi
24   2020-03-16       None  a083h0000010By6  a0I3h000001DfSn
25   2020-03-16       None  a083h0000010By6  a0I3h000001DfRM
26   2020-03-16       None  a083h0000010By6  a0I3h000001DfSs
27   2020-03-16       None  a083h0000010By6  a0I3h000001DfRa

In [25]:
class_p_final_df.rename(columns={
    'ID_Student2':'ID_Student'
}, inplace=True)
class_p_final_df

   StartDate__c Enddate__c         class ID       ID_Student
0    2020-03-16       None  a083h0000010By6  a0I3h000001DfQh
1    2020-03-16       None  a083h0000010By6  a0I3h000001DfQm
2    2020-03-16       None  a083h0000010By6  a0I3h000001DfQr
3    2020-03-16       None  a083h0000010By6  a0I3h000001DfRW
4    2020-03-16       None  a083h0000010By6  a0I3h000001DfQw
5    2020-03-16       None  a083h0000010By6  a0I3h000001DfR1
6    2020-03-16       None  a083h0000010By6  a0I3h000001DfR6
7    2020-03-16       None  a083h0000010By6  a0I3h000001DfRB
8    2020-03-16       None  a083h0000010By6  a0I3h000001DfRG
9    2020-03-16       None  a083h0000010By6  a0I3h000001DfRL
10   2020-03-16       None  a083h0000010By6  a0I3h000001DfRQ
11   2020-03-16       None  a083h0000010By6  a0I3h000001DfRV
12   2020-03-16       None  a083h0000010By6  a0I3h000001DfRk
13   2020-03-16       None  a083h0000010By6  a0I3h000001DfRp
14   2020-03-16       None  a083h0000010By6  a0I3h000001DfRu
15   2020-03-16       None  a083h0000010By6  a0I3h000001DfRz
16   2020-03-16       None  a083h0000010By6  a0I3h000001DfS4
17   2020-03-16       None  a083h0000010By6  a0I3h000001DfS9
18   2020-03-16       None  a083h0000010By6  a0I3h000001DfSJ
19   2020-03-16       None  a083h0000010By6  a0I3h000001DfSO
20   2020-03-16       None  a083h0000010By6  a0I3h000001DfST
21   2020-03-16       None  a083h0000010By6  a0I3h000001DfSY
22   2020-03-16       None  a083h0000010By6  a0I3h000001DfSd
23   2020-03-16       None  a083h0000010By6  a0I3h000001DfSi
24   2020-03-16       None  a083h0000010By6  a0I3h000001DfSn
25   2020-03-16       None  a083h0000010By6  a0I3h000001DfRM
26   2020-03-16       None  a083h0000010By6  a0I3h000001DfSs
27   2020-03-16       None  a083h0000010By6  a0I3h000001DfRa

In [26]:
class_p_final_df
class_p_final_df['StartDate__c'] = pd.to_datetime(class_p_final_df['StartDate__c']).dt.date
class_p_final_df['Enddate__c'] = pd.to_datetime(class_p_final_df['Enddate__c']).dt.date

class_p_final_df.head()

  StartDate__c Enddate__c         class ID       ID_Student
0   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfQh
1   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfQm
2   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfQr
3   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfRW
4   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfQw

In [28]:
class_p_final_df=class_p_final_df.rename(columns={
    'class ID':'class_ID__c',
    'ID_Student':'ID_Student__c'
    })
class_p_final_df

   StartDate__c Enddate__c      class_ID__c    ID_Student__c
0    2020-03-16        NaT  a083h0000010By6  a0I3h000001DfQh
1    2020-03-16        NaT  a083h0000010By6  a0I3h000001DfQm
2    2020-03-16        NaT  a083h0000010By6  a0I3h000001DfQr
3    2020-03-16        NaT  a083h0000010By6  a0I3h000001DfRW
4    2020-03-16        NaT  a083h0000010By6  a0I3h000001DfQw
5    2020-03-16        NaT  a083h0000010By6  a0I3h000001DfR1
6    2020-03-16        NaT  a083h0000010By6  a0I3h000001DfR6
7    2020-03-16        NaT  a083h0000010By6  a0I3h000001DfRB
8    2020-03-16        NaT  a083h0000010By6  a0I3h000001DfRG
9    2020-03-16        NaT  a083h0000010By6  a0I3h000001DfRL
10   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfRQ
11   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfRV
12   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfRk
13   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfRp
14   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfRu
15   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfRz
16   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfS4
17   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfS9
18   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfSJ
19   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfSO
20   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfST
21   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfSY
22   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfSd
23   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfSi
24   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfSn
25   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfRM
26   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfSs
27   2020-03-16        NaT  a083h0000010By6  a0I3h000001DfRa

In [29]:
class_p_records = class_p_final_df.to_dict(orient='records')
class_p_records

[{'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfQh'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfQm'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfQr'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfRW'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfQw'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfR1'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfR6'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfRB'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfRG'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfRL'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfRQ'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfRV'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfRk'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfRp'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfRu'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfRz'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfS4'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfS9'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfSJ'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfSO'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfST'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfSY'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfSd'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfSi'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfSn'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfRM'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfSs'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'Enddate__c': NaT,
  'class_ID__c': 'a083h0000010By6',
  'ID_Student__c': 'a0I3h000001DfRa'}]

## Insert `Staff Assignment` Records into Salesforce

In [30]:
for rec in class_p_records:
 
    record = {
        'ID_Student__c': rec['ID_Student__c'],
        'class_ID__c': rec['class_ID__c'],
        'StartDate__c': str(rec['StartDate__c'])
    }
    
    try:
        sf.classparticipant__c.create(record)
    except Exception as e:
        print(e)