## Goal: Insert Student table after previously inserting course and class tables

## Import dependencies

In [1]:
import json
from sqlalchemy import create_engine
import pandas as pd
import pymysql
from datetime import date
pymysql.install_as_MySQLdb()

## Import configuration variables

In [2]:
# import sys
# sys.path.append('../../../../')
from config import sf_username, sf_password, sf_security_token
from config import remote_db_endpoint, remote_db_port
from config import remote_db_name, remote_db_user, remote_db_pwd

## Set up `simple_salesforce`

Pass in the username, password, and security token here. The security token contains information about your org.

In [3]:
from simple_salesforce import Salesforce
sf = Salesforce(username=sf_username, password=sf_password, security_token=sf_security_token)

## Connect to your MySQL database

In [4]:
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
conn = engine.connect()

## Query Data

In [5]:
student_data = pd.read_sql("SELECT * FROM student", conn)
student_data.head(30)

    ID_Student StudentID     LastName    FirstName MiddleName BirthDate Gender
0           33  25004961        Moore      Heather      Alice      None      F
1           34  25003514       Multak        Ilana    Cecille      None      F
2           35  25005833      Murillo      Jessica    Dorothy      None      F
3           36  25002589   Romanowski       Kandra  Genevieve      None      F
4           37  25007185       Hoffer    Katherine   Lynnette      None      F
5           38  25006014   Poocharoen       Pariya   Mariette      None      F
6           39  25007528     Mantrala   Sriharitha      Patty      None      F
7           40  25003778        Kelly        Carly    Raelene      None      F
8           41  25003605        Sraha   Clementine    Kendall      None      F
9           42  25002056   Abdulrahim      Jawaher     Angela      None      F
10          43  25004152      Schulte        Sarah     Serita      None      F
11          44  25004097  Damdinsuren       Undraa     Claire      None      F
12          45  25002311        Smith        James    Carlton      None      M
13          46  25005602     Martinez       Joisel      Cyrus      None      M
14          47  25006805     Odhiambo         Pius      Danny      None      M
15          48  25006947         Karr         Todd     Darren      None      M
16          49  25002714        Stark          Tom   Deangelo      None      M
17          50  25005284      Mahmood         Adit       Dion      None      M
18          51  25006348        Mikus        Chris      Floyd      None      M
19          52  25002555      Hanafin  Christopher     Horace      None      M
20          53  25005250     Fingerut         Cole       Lino      None      M
21          54  25002325         Hoff        David     Lucien      None      M
22          55  25003773       Molina         Dino    Lynwood      None      M
23          56  25003936         Vega         John     Noelle      None      M
24          57  25005443       Clarke      Michael     Parker      None      M
25          58  25006762        Huynh      Patrick    Richard      None      M
26          59  25006027        Oppan       Robert      Riley      None      M
27          60  25002876       Doucet       Trevor       Seth      None      M
28          61  25007333         Omar        Yasir    Solomon      None      M
29          62  25007334   Williamson        Kevin    Stewart      None      M

## Transform Data

In [6]:
student_data = student_data.rename(columns={'ID_Student':'ID_Student__c',
                                          'StudentID':'StudentID__c',
                                          'LastName':'LastName__c',
                                          'FirstName':'FirstName__c',
                                          'MiddleName':'MiddleName__c',
                                          'BirthDate':'BirthDate__c',
                                          'Gender':'Gender__c'
                                          })

student_data

,ID_Student__c,StudentID__c,LastName__c,FirstName__c,MiddleName__c,BirthDate__c,Gender__c
0,33,25004961,Moore,Heather,Alice,None,F
1,34,25003514,Multak,Ilana,Cecille,None,F
2,35,25005833,Murillo,Jessica,Dorothy,None,F
3,36,25002589,Romanowski,Kandra,Genevieve,None,F
4,37,25007185,Hoffer,Katherine,Lynnette,None,F
5,38,25006014,Poocharoen,Pariya,Mariette,None,F
6,39,25007528,Mantrala,Sriharitha,Patty,None,F
7,40,25003778,Kelly,Carly,Raelene,None,F
8,41,25003605,Sraha,Clementine,Kendall,None,F
9,42,25002056,Abdulrahim,Jawaher,Angela,None,F
10,43,25004152,Schulte,Sarah,Serita,None,F
11,44,25004097,Damdinsuren,Undraa,Claire,None,F
12,45,25002311,Smith,James,Carlton,None,M
13,46,25005602,Martinez,Joisel,Cyrus,None,M
14,47,25006805,Odhiambo,Pius,Danny,None,M
15,48,25006947,Karr,Todd,Darren,None,M
16,49,25002714,Stark,Tom,Deangelo,None,M
17,50,25005284,Mahmood,Adit,Dion,None,M
18,51,25006348,Mikus,Chris,Floyd,None,M
19,52,25002555,Hanafin,Christopher,Horace,None,M
20,53,25005250,Fingerut,Cole,Lino,None,M
21,54,25002325,Hoff,David,Lucien,None,M
22,55,25003773,Molina,Dino,Lynwood,None,M
23,56,25003936,Vega,John,Noelle,None,M
24,57,25005443,Clarke,Michael,Parker,None,M
25,58,25006762,Huynh,Patrick,Richard,None,M
26,59,25006027,Oppan,Robert,Riley,None,M
27,60,25002876,Doucet,Trevor,Seth,None,M
28,61,25007333,Omar,Yasir,Solomon,None,M
29,62,25007334,Williamson,Kevin,Stewart,None,M

## Convert DataFrame to a list of dictionaries 

This can help facilitate a bulk insert

In [7]:
student_records = student_data.to_dict('records')
student_records

[{'ID_Student__c': 33,
  'StudentID__c': '25004961',
  'LastName__c': 'Moore',
  'FirstName__c': 'Heather',
  'MiddleName__c': 'Alice',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 34,
  'StudentID__c': '25003514',
  'LastName__c': 'Multak',
  'FirstName__c': 'Ilana',
  'MiddleName__c': 'Cecille',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 35,
  'StudentID__c': '25005833',
  'LastName__c': 'Murillo',
  'FirstName__c': 'Jessica',
  'MiddleName__c': 'Dorothy',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 36,
  'StudentID__c': '25002589',
  'LastName__c': 'Romanowski',
  'FirstName__c': 'Kandra',
  'MiddleName__c': 'Genevieve',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 37,
  'StudentID__c': '25007185',
  'LastName__c': 'Hoffer',
  'FirstName__c': 'Katherine',
  'MiddleName__c': 'Lynnette',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 38,
  'StudentID__c': '25006014',
  'LastName__c': 'Poocharoen',
  'FirstName__c': 'Pariya',
  'MiddleName__c': 'Mariette',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 39,
  'StudentID__c': '25007528',
  'LastName__c': 'Mantrala',
  'FirstName__c': 'Sriharitha',
  'MiddleName__c': 'Patty',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 40,
  'StudentID__c': '25003778',
  'LastName__c': 'Kelly',
  'FirstName__c': 'Carly',
  'MiddleName__c': 'Raelene',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 41,
  'StudentID__c': '25003605',
  'LastName__c': 'Sraha',
  'FirstName__c': 'Clementine',
  'MiddleName__c': 'Kendall',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 42,
  'StudentID__c': '25002056',
  'LastName__c': 'Abdulrahim',
  'FirstName__c': 'Jawaher',
  'MiddleName__c': 'Angela',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 43,
  'StudentID__c': '25004152',
  'LastName__c': 'Schulte',
  'FirstName__c': 'Sarah',
  'MiddleName__c': 'Serita',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 44,
  'StudentID__c': '25004097',
  'LastName__c': 'Damdinsuren',
  'FirstName__c': 'Undraa',
  'MiddleName__c': 'Claire',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 45,
  'StudentID__c': '25002311',
  'LastName__c': 'Smith',
  'FirstName__c': 'James',
  'MiddleName__c': 'Carlton',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 46,
  'StudentID__c': '25005602',
  'LastName__c': 'Martinez',
  'FirstName__c': 'Joisel',
  'MiddleName__c': 'Cyrus',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 47,
  'StudentID__c': '25006805',
  'LastName__c': 'Odhiambo',
  'FirstName__c': 'Pius',
  'MiddleName__c': 'Danny',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 48,
  'StudentID__c': '25006947',
  'LastName__c': 'Karr',
  'FirstName__c': 'Todd',
  'MiddleName__c': 'Darren',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 49,
  'StudentID__c': '25002714',
  'LastName__c': 'Stark',
  'FirstName__c': 'Tom',
  'MiddleName__c': 'Deangelo',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 50,
  'StudentID__c': '25005284',
  'LastName__c': 'Mahmood',
  'FirstName__c': 'Adit',
  'MiddleName__c': 'Dion',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 51,
  'StudentID__c': '25006348',
  'LastName__c': 'Mikus',
  'FirstName__c': 'Chris',
  'MiddleName__c': 'Floyd',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 52,
  'StudentID__c': '25002555',
  'LastName__c': 'Hanafin',
  'FirstName__c': 'Christopher',
  'MiddleName__c': 'Horace',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 53,
  'StudentID__c': '25005250',
  'LastName__c': 'Fingerut',
  'FirstName__c': 'Cole',
  'MiddleName__c': 'Lino',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 54,
  'StudentID__c': '25002325',
  'LastName__c': 'Hoff',
  'FirstName__c': 'David',
  'MiddleName__c': 'Lucien',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 55,
  'StudentID__c': '25003773',
  'LastName__c': 'Molina',
  'FirstName__c': 'Dino',
  'MiddleName__c': 'Lynwood',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 56,
  'StudentID__c': '25003936',
  'LastName__c': 'Vega',
  'FirstName__c': 'John',
  'MiddleName__c': 'Noelle',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 57,
  'StudentID__c': '25005443',
  'LastName__c': 'Clarke',
  'FirstName__c': 'Michael',
  'MiddleName__c': 'Parker',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 58,
  'StudentID__c': '25006762',
  'LastName__c': 'Huynh',
  'FirstName__c': 'Patrick',
  'MiddleName__c': 'Richard',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 59,
  'StudentID__c': '25006027',
  'LastName__c': 'Oppan',
  'FirstName__c': 'Robert',
  'MiddleName__c': 'Riley',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 60,
  'StudentID__c': '25002876',
  'LastName__c': 'Doucet',
  'FirstName__c': 'Trevor',
  'MiddleName__c': 'Seth',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 61,
  'StudentID__c': '25007333',
  'LastName__c': 'Omar',
  'FirstName__c': 'Yasir',
  'MiddleName__c': 'Solomon',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 62,
  'StudentID__c': '25007334',
  'LastName__c': 'Williamson',
  'FirstName__c': 'Kevin',
  'MiddleName__c': 'Stewart',
  'BirthDate__c': None,
  'Gender__c': 'M'}]

## Insert records to student table

In [ ]:
for rec in student_records:

    record = {
        'ID_Student__c': rec['ID_Student__c'],
        'StudentID__c': rec['StudentID__c'],
        'LastName__c': rec['LastName__c'],
        'FirstName__c': rec['FirstName__c'],
        'MiddleName__c': rec['MiddleName__c'],
        'BirthDate__c': rec['BirthDate__c'],
        'Gender__c': rec['Gender__c'],
    }
    
    try:
        sf.student__c.create(record)
    except Exception as e:
        print(e)

## Create student Lookup Table
Use this later to crosswalk the course code with the primary key from the `Course` table

The query **Salesforce** to retrieve the record IDs

In [8]:
student_lookup_list = []

# The `Name` column in the primary key in Salesforce objects
# The Salesforce query language is called SOQL 
data = sf.query_all_iter("SELECT StudentID__c, Name FROM student__c")
for row in data:
    rec = {
        'student_record_ID__c': row['Name'], # this is a critical line of code
        'StudentID__c': row['StudentID__c']
    }
    student_lookup_list.append(rec)
    
student_lookup_list

[{'student_record_ID__c': 'a093h000000PKNb', 'StudentID__c': '25002589'},
 {'student_record_ID__c': 'a093h000000PKNq', 'StudentID__c': '25007528'},
 {'student_record_ID__c': 'a093h000000PKNv', 'StudentID__c': '25003778'},
 {'student_record_ID__c': 'a093h000000PKOA', 'StudentID__c': '25004152'},
 {'student_record_ID__c': 'a093h000000PKNg', 'StudentID__c': '25007185'},
 {'student_record_ID__c': 'a093h000000PKOK', 'StudentID__c': '25002311'},
 {'student_record_ID__c': 'a093h000000PKNl', 'StudentID__c': '25006014'},
 {'student_record_ID__c': 'a093h000000PKO5', 'StudentID__c': '25002056'},
 {'student_record_ID__c': 'a093h000000PKOF', 'StudentID__c': '25004097'},
 {'student_record_ID__c': 'a093h000000PKO0', 'StudentID__c': '25003605'},
 {'student_record_ID__c': 'a093h000000PKOZ', 'StudentID__c': '25006947'},
 {'student_record_ID__c': 'a093h000000PKOt', 'StudentID__c': '25002555'},
 {'student_record_ID__c': 'a093h000000PKOe', 'StudentID__c': '25002714'},
 {'student_record_ID__c': 'a093h000000PKOo', 'StudentID__c': '25006348'},
 {'student_record_ID__c': 'a093h000000PKPI', 'StudentID__c': '25006762'},
 {'student_record_ID__c': 'a093h000000PKP8', 'StudentID__c': '25003936'},
 {'student_record_ID__c': 'a093h000000PKPS', 'StudentID__c': '25002876'},
 {'student_record_ID__c': 'a093h000000PKP3', 'StudentID__c': '25003773'},
 {'student_record_ID__c': 'a093h000000PKPD', 'StudentID__c': '25005443'},
 {'student_record_ID__c': 'a093h000000PKOP', 'StudentID__c': '25005602'},
 {'student_record_ID__c': 'a093h000000PKOU', 'StudentID__c': '25006805'},
 {'student_record_ID__c': 'a093h000000PKOj', 'StudentID__c': '25005284'},
 {'student_record_ID__c': 'a093h000000PKOB', 'StudentID__c': '25005250'},
 {'student_record_ID__c': 'a093h000000PKPN', 'StudentID__c': '25006027'},
 {'student_record_ID__c': 'a093h000000PKOy', 'StudentID__c': '25002325'},
 {'student_record_ID__c': 'a093h000000PKPc', 'StudentID__c': '25007334'},
 {'student_record_ID__c': 'a093h000000PKPX', 'StudentID__c': '25007333'},
 {'student_record_ID__c': 'a093h000000PKQu', 'StudentID__c': '25002714'},
 {'student_record_ID__c': 'a093h000000PKQ6', 'StudentID__c': '25006014'},
 {'student_record_ID__c': 'a093h000000PKQ7', 'StudentID__c': '25006762'},
 {'student_record_ID__c': 'a093h000000PKRY', 'StudentID__c': '25002876'},
 {'student_record_ID__c': 'a093h000000PKPw', 'StudentID__c': '25002589'},
 {'student_record_ID__c': 'a093h000000PKRO', 'StudentID__c': '25005443'},
 {'student_record_ID__c': 'a093h000000PKRJ', 'StudentID__c': '25003936'},
 {'student_record_ID__c': 'a093h000000PKQk', 'StudentID__c': '25006805'},
 {'student_record_ID__c': 'a093h000000PKR9', 'StudentID__c': '25002555'},
 {'student_record_ID__c': 'a093h000000PKQQ', 'StudentID__c': '25004152'},
 {'student_record_ID__c': 'a093h000000PKQV', 'StudentID__c': '25004097'},
 {'student_record_ID__c': 'a093h000000PKRd', 'StudentID__c': '25007333'},
 {'student_record_ID__c': 'a093h000000PKPh', 'StudentID__c': '25004961'},
 {'student_record_ID__c': 'a093h000000PKQG', 'StudentID__c': '25003605'},
 {'student_record_ID__c': 'a093h000000PKRE', 'StudentID__c': '25002325'},
 {'student_record_ID__c': 'a093h000000PKQB', 'StudentID__c': '25007528'},
 {'student_record_ID__c': 'a093h000000PKQC', 'StudentID__c': '25005250'},
 {'student_record_ID__c': 'a093h000000PKQp', 'StudentID__c': '25006947'},
 {'student_record_ID__c': 'a093h000000PKQL', 'StudentID__c': '25002056'},
 {'student_record_ID__c': 'a093h000000PKQa', 'StudentID__c': '25002311'},
 {'student_record_ID__c': 'a093h000000PKQf', 'StudentID__c': '25005602'},
 {'student_record_ID__c': 'a093h000000PKQz', 'StudentID__c': '25005284'},
 {'student_record_ID__c': 'a093h000000PKOa', 'StudentID__c': '25003773'},
 {'student_record_ID__c': 'a093h000000PKRi', 'StudentID__c': '25007334'},
 {'student_record_ID__c': 'a093h000000PKPm', 'StudentID__c': '25003514'},
 {'student_record_ID__c': 'a093h000000PKRT', 'StudentID__c': '25006027'},
 {'student_record_ID__c': 'a093h000000PKQ1', 'StudentID__c': '25007185'},
 {'student_record_ID__c': 'a093h000000PKPr', 'StudentID__c': '25005833'},
 {'student_record_ID__c': 'a093h000000PKR4', 'StudentID__c': '25006348'},
 {'student_record_ID__c': 'a093h000000PKOk', 'StudentID__c': '25003778'}]

In [9]:
student_lookup_df = pd.DataFrame(student_lookup_list)

In [10]:
student_lookup_df

   student_record_ID__c StudentID__c
0       a093h000000PKNb     25002589
1       a093h000000PKNq     25007528
2       a093h000000PKNv     25003778
3       a093h000000PKOA     25004152
4       a093h000000PKNg     25007185
5       a093h000000PKOK     25002311
6       a093h000000PKNl     25006014
7       a093h000000PKO5     25002056
8       a093h000000PKOF     25004097
9       a093h000000PKO0     25003605
10      a093h000000PKOZ     25006947
11      a093h000000PKOt     25002555
12      a093h000000PKOe     25002714
13      a093h000000PKOo     25006348
14      a093h000000PKPI     25006762
15      a093h000000PKP8     25003936
16      a093h000000PKPS     25002876
17      a093h000000PKP3     25003773
18      a093h000000PKPD     25005443
19      a093h000000PKOP     25005602
20      a093h000000PKOU     25006805
21      a093h000000PKOj     25005284
22      a093h000000PKOB     25005250
23      a093h000000PKPN     25006027
24      a093h000000PKOy     25002325
25      a093h000000PKPc     25007334
26      a093h000000PKPX     25007333
27      a093h000000PKQu     25002714
28      a093h000000PKQ6     25006014
29      a093h000000PKQ7     25006762
30      a093h000000PKRY     25002876
31      a093h000000PKPw     25002589
32      a093h000000PKRO     25005443
33      a093h000000PKRJ     25003936
34      a093h000000PKQk     25006805
35      a093h000000PKR9     25002555
36      a093h000000PKQQ     25004152
37      a093h000000PKQV     25004097
38      a093h000000PKRd     25007333
39      a093h000000PKPh     25004961
40      a093h000000PKQG     25003605
41      a093h000000PKRE     25002325
42      a093h000000PKQB     25007528
43      a093h000000PKQC     25005250
44      a093h000000PKQp     25006947
45      a093h000000PKQL     25002056
46      a093h000000PKQa     25002311
47      a093h000000PKQf     25005602
48      a093h000000PKQz     25005284
49      a093h000000PKOa     25003773
50      a093h000000PKRi     25007334
51      a093h000000PKPm     25003514
52      a093h000000PKRT     25006027
53      a093h000000PKQ1     25007185
54      a093h000000PKPr     25005833
55      a093h000000PKR4     25006348
56      a093h000000PKOk     25003778

## Pull Class lookup table

In [11]:
class_lookup_list = []

# The `Name` column in the primary key in Salesforce objects
data = sf.query_all_iter("SELECT Section__c, Name FROM class__c")
for row in data:
    rec = {
        'Class Record ID ': row['Name'],
        'Section__c': row['Section__c']
    }
    class_lookup_list.append(rec)
class_lookup_list

[{'Class Record ID ': 'a083h000000nn4o', 'Section__c': 'GWARL201905UIUX3'},
 {'Class Record ID ': 'a083h000000nn4Z', 'Section__c': 'GWU-ARL-DATA-PT-09-0'},
 {'Class Record ID ': 'a083h000000nn4j', 'Section__c': 'GWARL201905WEB3'},
 {'Class Record ID ': 'a083h000000nn4e', 'Section__c': 'GWDC201805DATA3'}]

In [12]:
class_lookup_df = pd.DataFrame(class_lookup_list)
class_lookup_df

  Class Record ID             Section__c
0  a083h000000nn4o      GWARL201905UIUX3
1  a083h000000nn4Z  GWU-ARL-DATA-PT-09-0
2  a083h000000nn4j       GWARL201905WEB3
3  a083h000000nn4e       GWDC201805DATA3

In [41]:
class_lookup_df = class_lookup_df.rename(columns={'Class Record ID':'Class_Record_ID__c'})
class_lookup_df

  Class Record ID             Section__c
0  a083h000000nn4o      GWARL201905UIUX3
1  a083h000000nn4Z  GWU-ARL-DATA-PT-09-0
2  a083h000000nn4j       GWARL201905WEB3
3  a083h000000nn4e       GWDC201805DATA3

## SQL JOIN

In [15]:
query = '''
    SELECT
        cp.*
        ,c.Section
        ,s.StudentID
    FROM
        classparticipant cp
        INNER JOIN class c
        ON c.ID_class  = cp.ID_class
        INNER Join student s 
        on s.id_student = cp.id_student
'''
classparticipant_data_df = pd.read_sql(query, conn)
classparticipant_data_df

,ID_ClassParticipant,ID_Student,ID_Class,StartDate,EndDate,Section,StudentID
0,1,33,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004961
1,2,34,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003514
2,3,35,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005833
3,4,62,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007334
4,5,36,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002589
5,6,37,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007185
6,7,38,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006014
7,8,39,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007528
8,9,40,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003778
9,10,41,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003605
10,11,42,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002056
11,12,43,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004152
12,13,46,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005602
13,14,47,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006805
14,15,48,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006947
15,16,49,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002714
16,17,50,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005284
17,18,51,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006348
18,20,53,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005250
19,21,54,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002325
20,22,55,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003773
21,23,56,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003936
22,24,57,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005443
23,25,58,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006762
24,26,59,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006027
25,27,60,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002876
26,28,61,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007333
27,29,44,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004097

In [16]:
# Rename cells
classparticipant_data_df.rename(columns={
    'StartDate':'StartDate__c',
    'EndDate':'EndDate__c',
    'Section': 'Section__c',
    'StudentID':'StudentID__c',
}, inplace=True)

classparticipant_data_df

,ID_ClassParticipant,ID_Student,ID_Class,StartDate__c,EndDate__c,Section__c,StudentID__c
0,1,33,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004961
1,2,34,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003514
2,3,35,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005833
3,4,62,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007334
4,5,36,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002589
5,6,37,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007185
6,7,38,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006014
7,8,39,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007528
8,9,40,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003778
9,10,41,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003605
10,11,42,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002056
11,12,43,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004152
12,13,46,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005602
13,14,47,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006805
14,15,48,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006947
15,16,49,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002714
16,17,50,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005284
17,18,51,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006348
18,20,53,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005250
19,21,54,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002325
20,22,55,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003773
21,23,56,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003936
22,24,57,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005443
23,25,58,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006762
24,26,59,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006027
25,27,60,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002876
26,28,61,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007333
27,29,44,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004097

## Merge Class participant data with Class look up.

In [42]:
class_cp_df = pd.merge(classparticipant_data_df, class_lookup_df, how='left')
#class_data_df.drop(columns = ['ID_Class','ID_Course','Course__c','Section__c','StartDate__c','Enddate__c','coursecode__c'], inplace=True)

class_cp_df

,ID_ClassParticipant,ID_Student,ID_Class,StartDate__c,EndDate__c,Section__c,StudentID__c,Class Record ID
0,1,33,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004961,a083h000000nn4Z
1,2,34,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003514,a083h000000nn4Z
2,3,35,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005833,a083h000000nn4Z
3,4,62,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007334,a083h000000nn4Z
4,5,36,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002589,a083h000000nn4Z
5,6,37,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007185,a083h000000nn4Z
6,7,38,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006014,a083h000000nn4Z
7,8,39,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007528,a083h000000nn4Z
8,9,40,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003778,a083h000000nn4Z
9,10,41,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003605,a083h000000nn4Z
10,11,42,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002056,a083h000000nn4Z
11,12,43,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004152,a083h000000nn4Z
12,13,46,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005602,a083h000000nn4Z
13,14,47,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006805,a083h000000nn4Z
14,15,48,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006947,a083h000000nn4Z
15,16,49,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002714,a083h000000nn4Z
16,17,50,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005284,a083h000000nn4Z
17,18,51,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006348,a083h000000nn4Z
18,20,53,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005250,a083h000000nn4Z
19,21,54,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002325,a083h000000nn4Z
20,22,55,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003773,a083h000000nn4Z
21,23,56,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003936,a083h000000nn4Z
22,24,57,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005443,a083h000000nn4Z
23,25,58,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006762,a083h000000nn4Z
24,26,59,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006027,a083h000000nn4Z
25,27,60,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002876,a083h000000nn4Z
26,28,61,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007333,a083h000000nn4Z
27,29,44,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004097,a083h000000nn4Z

In [43]:
cp_final_df = pd.merge(class_cp_df, student_lookup_df, how='left')
cp_final_df

,ID_ClassParticipant,ID_Student,ID_Class,StartDate__c,EndDate__c,Section__c,StudentID__c,Class Record ID,student_record_ID__c
0,1,33,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004961,a083h000000nn4Z,a093h000000PKPh
1,2,34,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003514,a083h000000nn4Z,a093h000000PKPm
2,3,35,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005833,a083h000000nn4Z,a093h000000PKPr
3,4,62,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007334,a083h000000nn4Z,a093h000000PKPc
4,4,62,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007334,a083h000000nn4Z,a093h000000PKRi
5,5,36,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002589,a083h000000nn4Z,a093h000000PKNb
6,5,36,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002589,a083h000000nn4Z,a093h000000PKPw
7,6,37,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007185,a083h000000nn4Z,a093h000000PKNg
8,6,37,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007185,a083h000000nn4Z,a093h000000PKQ1
9,7,38,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006014,a083h000000nn4Z,a093h000000PKNl
10,7,38,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006014,a083h000000nn4Z,a093h000000PKQ6
11,8,39,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007528,a083h000000nn4Z,a093h000000PKNq
12,8,39,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007528,a083h000000nn4Z,a093h000000PKQB
13,9,40,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003778,a083h000000nn4Z,a093h000000PKNv
14,9,40,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003778,a083h000000nn4Z,a093h000000PKOk
15,10,41,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003605,a083h000000nn4Z,a093h000000PKO0
16,10,41,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003605,a083h000000nn4Z,a093h000000PKQG
17,11,42,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002056,a083h000000nn4Z,a093h000000PKO5
18,11,42,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002056,a083h000000nn4Z,a093h000000PKQL
19,12,43,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004152,a083h000000nn4Z,a093h000000PKOA
20,12,43,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004152,a083h000000nn4Z,a093h000000PKQQ
21,13,46,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005602,a083h000000nn4Z,a093h000000PKOP
22,13,46,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005602,a083h000000nn4Z,a093h000000PKQf
23,14,47,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006805,a083h000000nn4Z,a093h000000PKOU
24,14,47,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006805,a083h000000nn4Z,a093h000000PKQk
25,15,48,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006947,a083h000000nn4Z,a093h000000PKOZ
26,15,48,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006947,a083h000000nn4Z,a093h000000PKQp
27,16,49,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002714,a083h000000nn4Z,a093h000000PKOe
28,16,49,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002714,a083h000000nn4Z,a093h000000PKQu
29,17,50,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005284,a083h000000nn4Z,a093h000000PKOj
30,17,50,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005284,a083h000000nn4Z,a093h000000PKQz
31,18,51,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006348,a083h000000nn4Z,a093h000000PKOo
32,18,51,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006348,a083h000000nn4Z,a093h000000PKR4
33,20,53,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005250,a083h000000nn4Z,a093h000000PKOB
34,20,53,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005250,a083h000000nn4Z,a093h000000PKQC
35,21,54,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002325,a083h000000nn4Z,a093h000000PKOy
36,21,54,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002325,a083h000000nn4Z,a093h000000PKRE
37,22,55,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003773,a083h000000nn4Z,a093h000000PKP3
38,22,55,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003773,a083h000000nn4Z,a093h000000PKOa
39,23,56,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003936,a083h000000nn4Z,a093h000000PKP8
40,23,56,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25003936,a083h000000nn4Z,a093h000000PKRJ
41,24,57,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005443,a083h000000nn4Z,a093h000000PKPD
42,24,57,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25005443,a083h000000nn4Z,a093h000000PKRO
43,25,58,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006762,a083h000000nn4Z,a093h000000PKPI
44,25,58,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006762,a083h000000nn4Z,a093h000000PKQ7
45,26,59,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006027,a083h000000nn4Z,a093h000000PKPN
46,26,59,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25006027,a083h000000nn4Z,a093h000000PKRT
47,27,60,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002876,a083h000000nn4Z,a093h000000PKPS
48,27,60,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25002876,a083h000000nn4Z,a093h000000PKRY
49,28,61,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007333,a083h000000nn4Z,a093h000000PKPX
50,28,61,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25007333,a083h000000nn4Z,a093h000000PKRd
51,29,44,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004097,a083h000000nn4Z,a093h000000PKOF
52,29,44,1,2020-03-16,None,GWU-ARL-DATA-PT-09-0,25004097,a083h000000nn4Z,a093h000000PKQV

In [32]:
cp_final_df['StartDate__c'] = pd.to_datetime(cp_final_df['StartDate__c']).dt.date
cp_final_df['EndDate__c'] = pd.to_datetime(cp_final_df['EndDate__c']).dt.date
cp_final_df

,ID_ClassParticipant,ID_Student,ID_Class,StartDate__c,EndDate__c,Section__c,StudentID__c,Class Record ID,student_record_ID__c
0,1,33,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25004961,a083h000000nn4Z,a093h000000PKPh
1,2,34,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25003514,a083h000000nn4Z,a093h000000PKPm
2,3,35,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25005833,a083h000000nn4Z,a093h000000PKPr
3,4,62,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25007334,a083h000000nn4Z,a093h000000PKPc
4,4,62,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25007334,a083h000000nn4Z,a093h000000PKRi
5,5,36,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25002589,a083h000000nn4Z,a093h000000PKNb
6,5,36,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25002589,a083h000000nn4Z,a093h000000PKPw
7,6,37,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25007185,a083h000000nn4Z,a093h000000PKNg
8,6,37,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25007185,a083h000000nn4Z,a093h000000PKQ1
9,7,38,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25006014,a083h000000nn4Z,a093h000000PKNl
10,7,38,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25006014,a083h000000nn4Z,a093h000000PKQ6
11,8,39,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25007528,a083h000000nn4Z,a093h000000PKNq
12,8,39,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25007528,a083h000000nn4Z,a093h000000PKQB
13,9,40,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25003778,a083h000000nn4Z,a093h000000PKNv
14,9,40,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25003778,a083h000000nn4Z,a093h000000PKOk
15,10,41,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25003605,a083h000000nn4Z,a093h000000PKO0
16,10,41,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25003605,a083h000000nn4Z,a093h000000PKQG
17,11,42,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25002056,a083h000000nn4Z,a093h000000PKO5
18,11,42,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25002056,a083h000000nn4Z,a093h000000PKQL
19,12,43,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25004152,a083h000000nn4Z,a093h000000PKOA
20,12,43,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25004152,a083h000000nn4Z,a093h000000PKQQ
21,13,46,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25005602,a083h000000nn4Z,a093h000000PKOP
22,13,46,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25005602,a083h000000nn4Z,a093h000000PKQf
23,14,47,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25006805,a083h000000nn4Z,a093h000000PKOU
24,14,47,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25006805,a083h000000nn4Z,a093h000000PKQk
25,15,48,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25006947,a083h000000nn4Z,a093h000000PKOZ
26,15,48,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25006947,a083h000000nn4Z,a093h000000PKQp
27,16,49,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25002714,a083h000000nn4Z,a093h000000PKOe
28,16,49,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25002714,a083h000000nn4Z,a093h000000PKQu
29,17,50,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25005284,a083h000000nn4Z,a093h000000PKOj
30,17,50,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25005284,a083h000000nn4Z,a093h000000PKQz
31,18,51,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25006348,a083h000000nn4Z,a093h000000PKOo
32,18,51,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25006348,a083h000000nn4Z,a093h000000PKR4
33,20,53,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25005250,a083h000000nn4Z,a093h000000PKOB
34,20,53,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25005250,a083h000000nn4Z,a093h000000PKQC
35,21,54,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25002325,a083h000000nn4Z,a093h000000PKOy
36,21,54,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25002325,a083h000000nn4Z,a093h000000PKRE
37,22,55,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25003773,a083h000000nn4Z,a093h000000PKP3
38,22,55,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25003773,a083h000000nn4Z,a093h000000PKOa
39,23,56,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25003936,a083h000000nn4Z,a093h000000PKP8
40,23,56,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25003936,a083h000000nn4Z,a093h000000PKRJ
41,24,57,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25005443,a083h000000nn4Z,a093h000000PKPD
42,24,57,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25005443,a083h000000nn4Z,a093h000000PKRO
43,25,58,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25006762,a083h000000nn4Z,a093h000000PKPI
44,25,58,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25006762,a083h000000nn4Z,a093h000000PKQ7
45,26,59,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25006027,a083h000000nn4Z,a093h000000PKPN
46,26,59,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25006027,a083h000000nn4Z,a093h000000PKRT
47,27,60,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25002876,a083h000000nn4Z,a093h000000PKPS
48,27,60,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25002876,a083h000000nn4Z,a093h000000PKRY
49,28,61,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25007333,a083h000000nn4Z,a093h000000PKPX
50,28,61,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25007333,a083h000000nn4Z,a093h000000PKRd
51,29,44,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25004097,a083h000000nn4Z,a093h000000PKOF
52,29,44,1,2020-03-16,NaT,GWU-ARL-DATA-PT-09-0,25004097,a083h000000nn4Z,a093h000000PKQV

In [44]:
cp_final_df.drop(columns = ['ID_ClassParticipant','ID_Student','ID_Class','Section__c','StudentID__c'], inplace=True)

In [45]:
cp_final_df

   StartDate__c EndDate__c Class Record ID  student_record_ID__c
0    2020-03-16       None  a083h000000nn4Z      a093h000000PKPh
1    2020-03-16       None  a083h000000nn4Z      a093h000000PKPm
2    2020-03-16       None  a083h000000nn4Z      a093h000000PKPr
3    2020-03-16       None  a083h000000nn4Z      a093h000000PKPc
4    2020-03-16       None  a083h000000nn4Z      a093h000000PKRi
5    2020-03-16       None  a083h000000nn4Z      a093h000000PKNb
6    2020-03-16       None  a083h000000nn4Z      a093h000000PKPw
7    2020-03-16       None  a083h000000nn4Z      a093h000000PKNg
8    2020-03-16       None  a083h000000nn4Z      a093h000000PKQ1
9    2020-03-16       None  a083h000000nn4Z      a093h000000PKNl
10   2020-03-16       None  a083h000000nn4Z      a093h000000PKQ6
11   2020-03-16       None  a083h000000nn4Z      a093h000000PKNq
12   2020-03-16       None  a083h000000nn4Z      a093h000000PKQB
13   2020-03-16       None  a083h000000nn4Z      a093h000000PKNv
14   2020-03-16       None  a083h000000nn4Z      a093h000000PKOk
15   2020-03-16       None  a083h000000nn4Z      a093h000000PKO0
16   2020-03-16       None  a083h000000nn4Z      a093h000000PKQG
17   2020-03-16       None  a083h000000nn4Z      a093h000000PKO5
18   2020-03-16       None  a083h000000nn4Z      a093h000000PKQL
19   2020-03-16       None  a083h000000nn4Z      a093h000000PKOA
20   2020-03-16       None  a083h000000nn4Z      a093h000000PKQQ
21   2020-03-16       None  a083h000000nn4Z      a093h000000PKOP
22   2020-03-16       None  a083h000000nn4Z      a093h000000PKQf
23   2020-03-16       None  a083h000000nn4Z      a093h000000PKOU
24   2020-03-16       None  a083h000000nn4Z      a093h000000PKQk
25   2020-03-16       None  a083h000000nn4Z      a093h000000PKOZ
26   2020-03-16       None  a083h000000nn4Z      a093h000000PKQp
27   2020-03-16       None  a083h000000nn4Z      a093h000000PKOe
28   2020-03-16       None  a083h000000nn4Z      a093h000000PKQu
29   2020-03-16       None  a083h000000nn4Z      a093h000000PKOj
30   2020-03-16       None  a083h000000nn4Z      a093h000000PKQz
31   2020-03-16       None  a083h000000nn4Z      a093h000000PKOo
32   2020-03-16       None  a083h000000nn4Z      a093h000000PKR4
33   2020-03-16       None  a083h000000nn4Z      a093h000000PKOB
34   2020-03-16       None  a083h000000nn4Z      a093h000000PKQC
35   2020-03-16       None  a083h000000nn4Z      a093h000000PKOy
36   2020-03-16       None  a083h000000nn4Z      a093h000000PKRE
37   2020-03-16       None  a083h000000nn4Z      a093h000000PKP3
38   2020-03-16       None  a083h000000nn4Z      a093h000000PKOa
39   2020-03-16       None  a083h000000nn4Z      a093h000000PKP8
40   2020-03-16       None  a083h000000nn4Z      a093h000000PKRJ
41   2020-03-16       None  a083h000000nn4Z      a093h000000PKPD
42   2020-03-16       None  a083h000000nn4Z      a093h000000PKRO
43   2020-03-16       None  a083h000000nn4Z      a093h000000PKPI
44   2020-03-16       None  a083h000000nn4Z      a093h000000PKQ7
45   2020-03-16       None  a083h000000nn4Z      a093h000000PKPN
46   2020-03-16       None  a083h000000nn4Z      a093h000000PKRT
47   2020-03-16       None  a083h000000nn4Z      a093h000000PKPS
48   2020-03-16       None  a083h000000nn4Z      a093h000000PKRY
49   2020-03-16       None  a083h000000nn4Z      a093h000000PKPX
50   2020-03-16       None  a083h000000nn4Z      a093h000000PKRd
51   2020-03-16       None  a083h000000nn4Z      a093h000000PKOF
52   2020-03-16       None  a083h000000nn4Z      a093h000000PKQV

In [46]:
cp_records = cp_final_df.to_dict(orient='records')
cp_records

[{'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKPh'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKPm'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKPr'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKPc'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKRi'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKNb'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKPw'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKNg'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKQ1'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKNl'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKQ6'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKNq'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKQB'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKNv'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKOk'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKO0'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKQG'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKO5'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKQL'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKOA'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKQQ'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKOP'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKQf'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKOU'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKQk'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKOZ'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKQp'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKOe'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKQu'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKOj'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKQz'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKOo'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKR4'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKOB'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKQC'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKOy'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKRE'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKP3'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKOa'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKP8'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKRJ'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKPD'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKRO'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKPI'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKQ7'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKPN'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKRT'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKPS'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKRY'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKPX'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKRd'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKOF'},
 {'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'Class Record ID ': 'a083h000000nn4Z',
  'student_record_ID__c': 'a093h000000PKQV'}]

## Insert records to classparticipant table in Sales Force!

In [49]:
for rec in cp_records:
 
    record = {
        'StartDate__c': rec['StartDate__c'],
        'Class_Record_ID__c': rec['Class_Record_ID__c'],
        'student_record_ID__c': rec['student_record_ID__c'],       
    }
    
    try:
        sf.classparticipant__c.create(record)
    except Exception as e:
        print(e)

KeyError: 'Class_Record_ID__c'