## Install `simple_salesforce`  module

Remove the comment symbol (#) to run `!pip install simple_salesforce`. Once this module is installed, you can comment it out again.

In [1]:
#!pip install simple_salesforce

## Import dependencies

In [2]:
import json
from sqlalchemy import create_engine
import pandas as pd
import pymysql
from datetime import date
pymysql.install_as_MySQLdb()

## Import configuration variables

In [3]:
# import sys
# sys.path.append('../../../../')
from config import sf_username, sf_password, sf_security_token
from config import remote_db_endpoint, remote_db_port
from config import remote_db_name, remote_db_user, remote_db_pwd

## Set up `simple_salesforce`

Pass in the username, password, and security token here. The security token contains information about your org.

In [4]:
from simple_salesforce import Salesforce
sf = Salesforce(username=sf_username, password=sf_password, security_token=sf_security_token)

## Connect to your MySQL database

In [5]:
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
conn = engine.connect()

## Query Data

In [6]:
course_data = pd.read_sql("SELECT * FROM course", conn)
course_data.head(30)

,ID_Course,CourseCode,CourseName,CreditHours,BootCampCourse
0,1,BC-DATAVIZ,Data Visualization and Analytics,12,1
1,2,BC-WEBDEV,Full Stack Web Development,12,1
2,3,BC-UIUX,User Interface/User Experience,12,1
3,4,CIS-349,Introduction to Databases,5,0
4,5,CIS-405,Database Programming,5,0
5,6,CIS-438,Database Administration,5,0
6,7,CIS-430,Business Systems Programming I,5,0
7,8,CIS-435,Business Systems Programming II,5,0

## Transform Data

In [7]:
course_data = course_data.rename(columns={'CourseCode':'CourseCode__c',
                                          'CourseName':'CourseName__c',
                                          'CreditHours':'CreditHours__c',
                                          'BootCampCourse':'BootCampCourse__c',
                                          'ID_Course':'ID_Course__c'
                                         })
course_data

,ID_Course__c,CourseCode__c,CourseName__c,CreditHours__c,BootCampCourse__c
0,1,BC-DATAVIZ,Data Visualization and Analytics,12,1
1,2,BC-WEBDEV,Full Stack Web Development,12,1
2,3,BC-UIUX,User Interface/User Experience,12,1
3,4,CIS-349,Introduction to Databases,5,0
4,5,CIS-405,Database Programming,5,0
5,6,CIS-438,Database Administration,5,0
6,7,CIS-430,Business Systems Programming I,5,0
7,8,CIS-435,Business Systems Programming II,5,0

## Convert DataFrame to a list of dictionaries 

This can help facilitate a bulk insert

In [9]:
course_data_records = course_data.to_dict('records')
course_data_records

[{'ID_Course__c': 1,
  'CourseCode__c': 'BC-DATAVIZ',
  'CourseName__c': 'Data Visualization and Analytics',
  'CreditHours__c': 12,
  'BootCampCourse__c': 1},
 {'ID_Course__c': 2,
  'CourseCode__c': 'BC-WEBDEV',
  'CourseName__c': 'Full Stack Web Development',
  'CreditHours__c': 12,
  'BootCampCourse__c': 1},
 {'ID_Course__c': 3,
  'CourseCode__c': 'BC-UIUX',
  'CourseName__c': 'User Interface/User Experience',
  'CreditHours__c': 12,
  'BootCampCourse__c': 1},
 {'ID_Course__c': 4,
  'CourseCode__c': 'CIS-349',
  'CourseName__c': 'Introduction to Databases',
  'CreditHours__c': 5,
  'BootCampCourse__c': 0},
 {'ID_Course__c': 5,
  'CourseCode__c': 'CIS-405',
  'CourseName__c': 'Database Programming',
  'CreditHours__c': 5,
  'BootCampCourse__c': 0},
 {'ID_Course__c': 6,
  'CourseCode__c': 'CIS-438',
  'CourseName__c': 'Database Administration',
  'CreditHours__c': 5,
  'BootCampCourse__c': 0},
 {'ID_Course__c': 7,
  'CourseCode__c': 'CIS-430',
  'CourseName__c': 'Business Systems Programming I',
  'CreditHours__c': 5,
  'BootCampCourse__c': 0},
 {'ID_Course__c': 8,
  'CourseCode__c': 'CIS-435',
  'CourseName__c': 'Business Systems Programming II',
  'CreditHours__c': 5,
  'BootCampCourse__c': 0}]

## Insert records to Course table

In [ ]:
for rec in course_data_records:

    record = {
        'ID_Course__c': rec['ID_Course__c'],
        'CourseCode__c': rec['CourseCode__c'],
        'CourseName__c': rec['CourseName__c'],
        'CreditHours__c': rec['CreditHours__c'],
        'BootCampCourse__c': rec['BootCampCourse__c'],
    }
    
    try:
        sf.Course__C.create(record)
    except Exception as e:
        print(e)

## Create Course Lookup Table
Use this later to crosswalk the course code with the primary key from the `Course` table

The query **Salesforce** to retrieve the record IDs

In [14]:
course_lookup_list = []

# The `Name` column in the primary key in Salesforce objects
# The Salesforce query language is called SOQL 
data = sf.query_all_iter("SELECT ID_Course__c, Name FROM course__c")
for row in data:
    rec = {
        'Course_record_ID__c': row['Name'], # this is a critical line of code
        'ID_Course__c': row['ID_Course__c']
    }
    course_lookup_list.append(rec)
    
course_lookup_list

[{'Course_record_ID__c': 'a043h00000Lm9hw', 'ID_Course__c': 4.0},
 {'Course_record_ID__c': 'a043h00000Lm9hr', 'ID_Course__c': 3.0},
 {'Course_record_ID__c': 'a043h00000Lm9i6', 'ID_Course__c': 6.0},
 {'Course_record_ID__c': 'a043h00000Lm9hm', 'ID_Course__c': 2.0},
 {'Course_record_ID__c': 'a043h00000Lm9i1', 'ID_Course__c': 5.0},
 {'Course_record_ID__c': 'a043h00000Lm9iG', 'ID_Course__c': 8.0},
 {'Course_record_ID__c': 'a043h00000Lm9hh', 'ID_Course__c': 1.0},
 {'Course_record_ID__c': 'a043h00000Lm9iB', 'ID_Course__c': 7.0}]

In [15]:
course_lookup_df = pd.DataFrame(course_lookup_list)
course_lookup_df

  Course_record_ID__c  ID_Course__c
0     a043h00000Lm9hw           4.0
1     a043h00000Lm9hr           3.0
2     a043h00000Lm9i6           6.0
3     a043h00000Lm9hm           2.0
4     a043h00000Lm9i1           5.0
5     a043h00000Lm9iG           8.0
6     a043h00000Lm9hh           1.0
7     a043h00000Lm9iB           7.0

In [16]:
# Query class from MySQL database & add course_record_id
class_data_df = pd.read_sql('SELECT * FROM class', conn)
class_data_df.head()

   ID_Class  ID_Course               Section   StartDate     EndDate
0         1          1  GWU-ARL-DATA-PT-09-0  2020-03-16  2020-03-14
1         2          1       GWDC201805DATA3  2018-05-15  2018-11-08
2         3          2       GWARL201905WEB3  2019-05-14  2019-11-07
3         4          3      GWARL201905UIUX3  2019-05-14  2019-11-07

In [18]:
# Rename cells


class_data_df.rename(columns={
    'ID_Class':'ID_Class__c',
    'ID_Course':'ID_Course__c',
    'Section':'Section__c',
    'StartDate':'StartDate__c',
    'EndDate':'EndDate__c',
    'CourseCode':'CourseCode__c'
}, inplace=True)

class_data_df

   ID_Class__c  ID_Course__c            Section__c Start_Date__c End_Date__c
0            1             1  GWU-ARL-DATA-PT-09-0    2020-03-16  2020-03-14
1            2             1       GWDC201805DATA3    2018-05-15  2018-11-08
2            3             2       GWARL201905WEB3    2019-05-14  2019-11-07
3            4             3      GWARL201905UIUX3    2019-05-14  2019-11-07

## Join the Class DataFrame with the Course lookup tableÂ¶
This join is necessary to successfully lookup the foreign key for the Course table

In [20]:
class_data_df = pd.merge(class_data_df, course_lookup_df, how='left')
#class_data_df.drop(columns = ['ID_Class','ID_Course','CourseName','CreditHours','BootCampCourse','Course_Code__c'], inplace=True)

class_data_df.head()

,ID_Class__c,ID_Course__c,Section__c,Start_Date__c,End_Date__c,Course_record_ID__c
0,1,1,GWU-ARL-DATA-PT-09-0,2020-03-16,2020-03-14,a043h00000Lm9hh
1,2,1,GWDC201805DATA3,2018-05-15,2018-11-08,a043h00000Lm9hh
2,3,2,GWARL201905WEB3,2019-05-14,2019-11-07,a043h00000Lm9hm
3,4,3,GWARL201905UIUX3,2019-05-14,2019-11-07,a043h00000Lm9hr

In [21]:
class_data_df
class_data_df['Start_Date__c'] = pd.to_datetime(class_data_df['Start_Date__c']).dt.date
class_data_df['End_Date__c'] = pd.to_datetime(class_data_df['End_Date__c']).dt.date

class_data_df.head()

,ID_Class__c,ID_Course__c,Section__c,Start_Date__c,End_Date__c,Course_record_ID__c
0,1,1,GWU-ARL-DATA-PT-09-0,2020-03-16,2020-03-14,a043h00000Lm9hh
1,2,1,GWDC201805DATA3,2018-05-15,2018-11-08,a043h00000Lm9hh
2,3,2,GWARL201905WEB3,2019-05-14,2019-11-07,a043h00000Lm9hm
3,4,3,GWARL201905UIUX3,2019-05-14,2019-11-07,a043h00000Lm9hr

In [22]:
class_data_records = class_data_df.to_dict(orient='records')
class_data_records

[{'ID_Class__c': 1,
  'ID_Course__c': 1,
  'Section__c': 'GWU-ARL-DATA-PT-09-0',
  'Start_Date__c': datetime.date(2020, 3, 16),
  'End_Date__c': datetime.date(2020, 3, 14),
  'Course_record_ID__c': 'a043h00000Lm9hh'},
 {'ID_Class__c': 2,
  'ID_Course__c': 1,
  'Section__c': 'GWDC201805DATA3',
  'Start_Date__c': datetime.date(2018, 5, 15),
  'End_Date__c': datetime.date(2018, 11, 8),
  'Course_record_ID__c': 'a043h00000Lm9hh'},
 {'ID_Class__c': 3,
  'ID_Course__c': 2,
  'Section__c': 'GWARL201905WEB3',
  'Start_Date__c': datetime.date(2019, 5, 14),
  'End_Date__c': datetime.date(2019, 11, 7),
  'Course_record_ID__c': 'a043h00000Lm9hm'},
 {'ID_Class__c': 4,
  'ID_Course__c': 3,
  'Section__c': 'GWARL201905UIUX3',
  'Start_Date__c': datetime.date(2019, 5, 14),
  'End_Date__c': datetime.date(2019, 11, 7),
  'Course_record_ID__c': 'a043h00000Lm9hr'}]

## Example of inserting rows individually

Loop through the DataFrame and assemble indiviudal dictionaries

In [29]:
for rec in class_data_records:
 
    record = {
        'ID_Class__c': rec['ID_Class__c'],
        'ID_Course__c': rec['ID_Course__c'],
        'Course_record_ID__c': rec['Course_record_ID__c'],
        'Section__c': rec['Section__c'],
        'StartDate__c': str(rec['Start_Date__c']),
        'EndDate__c': str(rec['End_Date__c'])
    }
    
    try:
        sf.class__c.create(record)
    except Exception as e:
        print(e)

## Example of inserting rows in bulk

In [ ]:
try:
    sf.bulk.Lead.insert(student_load)
except Exception as e:
    print(e)